<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ipca.am2.projeto2122.friendschat" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FriendsChat"
        tools:targetApi="m">
        <activity
            android:name=".ui.settings.AddPhotoProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_add_photo_profile"
            android:theme="@style/Theme.FriendsChat.NoActionBar" />
        <activity
            android:name=".ui.MessageChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.entry.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.FriendsChat.NoActionBar" />
        <activity
            android:name=".ui.entry.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>